
.age_verification {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .age_verification::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0.7;
  }
  .age_verification .container {
    z-index: 1;
    position: relative;
  }
 
  .verification_content h2 {
    color: #eb3237;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 18px;
  }
  .verification_content span {
    color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    font-weight: 600;
    font-size: 16px;
  }
  .verification_content .checkbox{
    position: relative
    ;
    top: 2px;
    font-size: 20px;
  }
 
  .verification_content .custom_checkbox label {
    color: #000;
    font-weight: 500;
    font-size: 15px !important;
  }
  .verification_content {
    background-color: #eef3ff;
    border-radius: 10px;
    border: 2px dashed #f2f2f263;
    padding: 32px 20px;
  }