.header {
  background-color: #eef3ff;
  width: 100%;

}
.header_search {
  border-radius: 8px;
  overflow: hidden;
  padding: 0;
  border: 2px solid #3e4093;
  width: 60%;
  margin-left: 4rem;
  margin-right: 4rem;
}
.header_search .Btn-design {
  position: relative;
  background-color: #3e4093;
  top: 0px;
  height: 46px;
  width: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: 0;
  font-size: 13px;
}
.header_search .Input-box {
  font-size: large;
  font-weight: bold;
  border: none;
  height: 42px;
  width: 100%;
}
.Input-box:focus {
  outline: none;
}


.navbar.nav {
  list-style: none;
}
.header_bottom {
  background-color: #3e4093;
  height: 54px;
  display: flex;
  width: 100.8%;
  align-items: center;
}
.header_menus {
  list-style: none;
  align-items: center;
}
.btm-headers {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.img-fluidCart {
  width: 35px;
  height: 35px;
}
.nav-link {
  color: #3e4093;
}
.nav-link:hover {
  color: #eb3237;
}
.SignBtn {
  background-color: #3e4093;
  height: 40px;
  width: 80px;
  color: #fff;
  border: none;
}
.SignBtn:hover {
  background-color: #eb3237;
}
.dropdown-menu {
  background: #fff;
  backdrop-filter: blur(15px) saturate(0.5);
  transition: visibility 0.1s, margin-top 0.1s, transform 0.1s,
    opacity 0.1s linear, -webkit-transform 0.1s;
  transform: scale(0.9);
  transform-origin: top;
  display: block;
  height: 0px;
  border-radius: 0 !important;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 152px !important;
  min-width: 100% !important;
  max-width: 100%;
  overflow: hidden;
}
li:hover .dropdown-menu {
  display: block;
  visibility: visible;
  opacity: 1;
  transition: visibility 0.5s, transform 0.5s, opacity 0.3s linear,
    -webkit-transform 0.5s;
  border: 0;
  background-color: #fff;
  height: auto;
  transform: scale(1);
}
.maga_drop__menus {
  padding: 10px 10px 10px;
}
.count {
  position: absolute;
  background-color: #eb3237;
  height: 14px;
  width: 14px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  color: #fff;
  font-weight: 500;
  font-size: 10px;
}
.cart {
  position: relative;
  right: -8px;
  margin-right: -2px;
}
.bell {
  position: relative;
  right: -15px;
}
.modal-backdrop {
  background-color: #00000045;
  backdrop-filter: blur(120px);
}


.modal-backdrop.show {
  opacity: 0.9;
}
.dropdown-menu{
  position: relative;
  top: 55px;
}
@media screen and(max-width: 576px){

  .header_bottom{
    background-color: #eb3237 !important;

  }

}
  
