 
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins';
  color: #444444;
  overflow-x: hidden;
  background-color: #eef3ff;
}

a {
  color: #3e4093;
  text-decoration: none;
}



h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins';
}



 

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.comman_btn {
  background-color: #3e4093;
  padding: 14px 32px;
  font-size: 15px;
  font-weight: 600;
  transition: 0.5s all;
  color: #fff;
  border-radius: 50px;
  border: 0;
  display: inline-flex;
}
.comman_btn:hover {
  background-color: #eb3237;  
  color: #fff;
}


.comman_btn2 {
  background-color: #eb3237;
  padding: 14px 32px;
  font-size: 15px;
  font-weight: 600;
  transition: 0.5s all;
  color: #fff;
  border-radius: 50px;
  border: 0;
  display: inline-flex;
}
.comman_btn2:hover {
  background-color: #3e4093;  
  color: #fff;
}


.header_bottom {
  background-color: #3e4093;
  height: 54px;
  display: flex;
  align-items: center;
}
.container-fluid {
  max-width: 96%;
}
.comman_head h2 {
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
}
.header_menus {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header_main {
  background-color: #fff;
  overflow: hidden;
}
.header_logo img {
  max-width: 150px;
}
.signup_btns {
  background-color: #3e4093;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 19px;
  color: #fff !important;
  font-size: 12px;
  font-weight: 500;
  border-radius: 50px;
  transition: 0.5s all;
}
.signup_btns:hover{
  background-color: #eb3237;
}
.login_btns {
  color: #3e4093;
  font-weight: 600;
  font-size: 15px;
  display: inline-block;
  margin: 0 15px;
}
.social_icon a {
  font-size: 19px;
  display: inline-block;
  margin-right: 18px;
  color: #3e4093;
  position: relative;
}
.social_icon a .count {
  position: absolute;
  top: -2px;
  right: -7px;
  display: flex;
  background-color: #eb3237;
  height: 14px;
  width: 14px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  color: #fff;
  font-weight: 500;
  font-size: 10px;
}
.social_icon {
  border-right: 2px solid #3e4093;
}
.header_search .form-control {
  height: 34px;
  font-size: 13px;
  padding: 0 20px;
  border: 0;
}
.header_search {
  border-radius: 4px;
  overflow: hidden;
  height: 38px;
  display: inline-block;
  border: 2px solid #3e4093;
  width: 100%;
  position: relative;
}
.header_search .Btn-design {
  background-color: #3e4093;
  height: 35px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: 0;
  margin-right: -1px;
  font-size: 13px;
}
.header_menus li a {
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  position: relative;
}
.header_menus li {
  list-style: none;
  margin-left: 30px;
  position: static;
}
.header_top {
  background-color: #eef3ff;
}
a:hover {
  color: #eb3237;  
}

.forms_modal .modal-body {
  padding: 25px;
}
.btn-close {
  position: absolute;
  right: 10px;
  font-size: 12px;
  opacity: 1;
  top: 10px;
}
.heading_forms h3 {
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 3px;
}
.heading_forms span {
  display: block;
  font-size: 14px;
  color: #9f9d9d;
}
.forms_modal_content .form-group label {
  font-weight: 500;
  font-size: 14px;
  color: #000;
  display: block;
  margin: 0 0 4px;
}
.forms_modal_content .form-group .form-control {
  border-radius: 4px;
  border: 1px solid #ddd7d7;
  height: 46px;
  font-size: 13px;
  padding: 0 19px;
  box-shadow: unset !important;
}
.forgot_password a {
  font-size: 13px;
  font-weight: 500;
  color: #000;
}
.comman_text span {
  font-size: 13px;
  display: block;
}
.custom_checkbox label::before {
  position: absolute;
  content: '\f00c';
  font-family: "Font Awesome 5 Pro";
  top: 0px;
  left: 3px;
  opacity: 0;
  font-size: 13px;
}
.custom_checkbox label::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  border: 1px solid #3e4093;
  border-radius: 4px;
}
.forms_modal_content .form-group label a {
  font-weight: 600;
}
.modal-backdrop {
  background-color: #00000045;
  backdrop-filter: blur(120px);
}
.modal-backdrop.show {
  opacity: 0.9;
} 
.forms_modal .modal-content {
  border: 0;
  border-radius: 14px;
}
.forms_modal_content .form-group {
  margin-bottom: 15px;
}
.custom_checkbox label {
  font-size: 13px !important;
  padding-left: 30px;
  position: relative;
}
.comman_modal_form .modal-body {
  padding: 35px 0;
}
.comman_modal_heading h2 {
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 15px;
}
.comman_modal_heading p {
  font-size: 14px;
  margin-bottom: 25px;
}
.time_js span {
  font-weight: 600;
  color: #3e4093;
  font-size: 20px;
  display: block;
}
.otp_part .form-group .form-control {
  width: 46px;
  margin: 0 6px;
  border-radius: 10px;
  height: 46px;
  padding: 0;
  text-align: center;
  font-size: 14px;
}
.comman_modal_form .modal-dialog {
  max-width: 400px;
}
.custom_checkbox input:checked ~ label::before {
  opacity: 1;
}
.banner_slide {
  height: calc(100vh - 153px);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
}
.banner_slide::after{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.6;
}
.category_btn {
  background-color: #f20;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  height: 120px;
  width: 120px;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.banner_content {
  position: relative;
  z-index: 1;
}
.banner_content h2 {
  color: #fff;
  font-weight: 800;
  font-size: 46px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.banner_content p {
  font-weight: 400;
  color: #fff;
  font-size: 16px;
  line-height: 28px;
}
.banner_sider .owl-nav button {
  background-color: #eb3237 !important;
  color: #fff !important;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  font-size: 30px !important;
}
.banner_sider .owl-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 95%;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  left: 0;
  right: 0;
}
section{
  overflow: hidden;
}
.banner_sider .owl-dots {
  position: absolute;
  z-index: 9;
  bottom: 28px;
  width: 100%;
  text-align: center;
  left: -11px;
  right: 0;
}
.banner_sider .owl-dots .owl-dot {
  height: 10px;
  width: 10px;
  border-radius: 50px;
  display: inline-flex;
  background-color: #eb3237 !important;
  margin: 0 4px;
  transition: 0.5s all;
}
.banner_sider .owl-dots .owl-dot.active{
  width: 30px;
}
.form-design .form-floating>label {
  font-size: 13px;
  color: #3d3d3d;
  font-weight: 500;
  left: 18px;
}
.form-design .form-control {
  background: transparent;
  padding: 0 20px;
  font-size: 13px;
  height: 52px;
  border: 1px solid #3d3d3d7a;
}
.form-design .form-floating>label span {
  color: #f20;
}
.choose_file label {
  position: absolute;
  top: 27px;
  background-color: #3e4093;
  height: 52px;
  color: #fff;
  display: flex !important;
  align-items: center;
  width: 100px;
  justify-content: center;
  text-align: center;
  border-radius: 4px 0 0 4px;
  font-size: 12px !important;
  cursor: pointer;
}
.choose_file span {
  display: block;
  margin: 0 0 8px 0;
  font-size: 13px;
  font-weight: 500;
  text-align: left;
}
.choose_file .form-control {
  height: 52px;
  padding: 14px 7px;
}
.select_dropdown{
  position: relative;
}
.select_dropdown::after {
  position: absolute;
  top: 20px;
  content: '';
  background-image: url(../img/arrow_down.png);
  height: 10px;
  width: 12px;
  z-index: 9;
  right: 27px;
  background-size: 12px;
  background-repeat: no-repeat;
}
.form-heading h2 {
  font-weight: 700;
  font-size: 19px;
}
.form-heading p {
  font-size: 13px;
}




.newsletter_form {
  border-radius: 4px;
  overflow: hidden;
}

.news_leter_heading h3 {
  font-weight: 600;
  margin: 0;
  color: #fff;
}
.newsletter_section {
  background: #eb3237;
  padding: 35px 0;
}
 
/*===================================*
  11.START FOOTER STYLE
*===================================*/
footer {
	overflow: hidden;
}
.footer_dark {
	background-color: #202325;
	position: relative;
}
.footer_top {
  padding: 60px 0 30px;
}
.footer_logo {
	margin-bottom: 20px;
}
footer p {
	font-size: 14px;
}
footer .widget {
	margin-bottom: 30px;
}
footer .widget_title {
  text-transform: capitalize;
  margin-top: 6px;
  margin-bottom: 20px;
  font-size: 18px;
}
.contact_info.contact_info_light {
  padding-left: 3px;
}
.border-top-tran {
  border-top: 1px solid rgba(255,255,255,0.1);
}
.widget_links li {
  padding-bottom: 10px;
  list-style-type: circle;
  color: #fff;
}
.widget_links {
  padding-left: 20px;
}
.widget_links li:last-child {
	padding-bottom: 0;
}
.widget_links li a {
	font-size: 14px;
	color: #687188;
}
.contact_info > li {
	margin-bottom: 15px;
	list-style: none;
}
.contact_info > li:last-child {
	margin-bottom: 0px;
}
.contact_info li i {
	display: inline-block;
	margin-right: 10px;
	margin-top: 4px;
	font-size: 18px;
	vertical-align: top;
}
.contact_info li span {
	float: left;
	margin-right: 10px;
	max-width: 70px;
	width: 100%;
	color: #292b2c;
}
.contact_info span + * {
	overflow: hidden;
	color: #687188;
	margin: 0;
	font-size: 14px;
	line-height: 26px;
}
.contact_info i + * {
	overflow: hidden;
	font-size: 14px;
	color: #687188;
	line-height: 26px;
	margin: 0;
	vertical-align: middle;
	max-width: 78%;
	display: inline-block;
}
.contact_info_light li i {
	border-color: #fff;
	color: #fff;
}
.contact_info_light li span,
.contact_info_light li a {
	color: #fff;
}
.contact_info_style2 i + * {
	font-size: 18px;
}
.contact_info_style2 li i {
	margin-right: 8px;
	margin-top: 2px;
	font-size: 22px;
	color: #FF324D;
}
.bottom_footer {
	padding: 30px 0;
	position: relative;
}
.footer_link li {
	display: inline-block;
	position: relative;
}
.footer_link li a {
	font-size: 14px;
	padding: 0 5px;
	color: #687188;
}
.footer_dark h1, .footer_dark h2, .footer_dark h3, .footer_dark h4, .footer_dark h5, .footer_dark h6, .footer_dark p, .footer_dark a, .footer_dark .widget_links li a, .footer_dark .footer_link li a, .footer_dark .post_content a {
	color: #fff;
}
.footer_dark a:hover, .footer_dark .widget_links li a:hover, .widget_links li a:hover, .footer_dark .footer_link li a:hover,.footer_link li a:hover {
	color: #FF324D;
}
.widget_contact_form {
	background-color: #fff;
	padding: 20px 30px 30px;
	margin-top: -190px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.bottom_footer .social_icons li {
	padding-bottom: 0;
}
.footer_payment li,
.app_list li {
	display: inline-block;
	list-style: none;
}
.footer_call {
	border-radius: 40px;
	padding: 15px;
	text-align: center;
	background-color: rgba(0,0,0,0.2);
}
.footer_call * {
	margin: 0;
	font-size: 22px;
}
.footer_call i {
	margin-right: 10px;
}
.footer_logo img {
  max-width: 150px;
}
.footer_logo a {
  display: inline-block;
  background-color: #fff;
  text-align: center;
  padding: 10px 12px;
  border-radius: 10px;
}

/*===================================*
  11.END FOOTER STYLE
*===================================*/
.product_parts_box {
  width: 100%;
  padding: 14px 14px 20px;
  border: 2px solid #f1f1f1;
  border-radius: 10px;
  margin: 12px 0;
  background-color: #fff;
  cursor: pointer;
}
.slider_box {
  margin: 0 12px;
}
.partsproduct_img img {
  max-width: 100%;
  height: 140px;
  object-fit: contain;
}
.partsproduct_img {
  border-radius: 7px;
  overflow: hidden;
  background: #eff3ff;
  padding: 16px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  position: relative;
}
.product_content a {
  color: #3e4093;
  font-weight: 600;
  font-size: 16px;
}
.rating_box a {
  font-size: 14px;
  color: #ffd000;
}
.price {
  margin-bottom: 14px;
  font-size: 14px;
  font-weight: 600;
  margin-top: -5px;
}
.number input {
  background-color: #fff;
  border: 0;
  border-radius: 0;
  height: 36px;
  text-align: center;
  padding: 10px 10px;
  font-size: 18px;
  font-weight: 600;
  width: 50px;
  margin: 0 0;
  outline: 0; 
}
.price del {
  color: #b6b6b6;
  font-weight: 500;
  margin-left: 6px;
  display: inline-block;
}
.number span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #f1f1f1;
  border-radius: 6px;
  width: 34px;
  height: 34px;
  color: #bdbdbd;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.product_parts_box .comman_btn {
  top: -100%;
  position: absolute;
  font-size: 20px;
  padding: 0;
  border-radius: 50px;
  z-index: 1;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product_parts_box:hover .comman_btn {
  top: 50%;
  transform: translateY(-50%);
}
.featured__box img {
  max-width: 100%;
  height: 140px;
  object-fit: contain;
}
.featured__box {
  padding: 20px 15px;
  width: 100%;
  max-width: 14%;
  color: #000 !important;
  font-weight: 500;
  font-size: 15px;
}
.brand_box {
  display: flex;
  background-color: #eff3ff;
  text-align: center;
  height: 200px;
  margin: 20px 22px;
  align-items: center;
  justify-content: center;
}
.brand_box img {
  max-height: 140px;
  object-fit: contain;
}
.brand_box img {
  height: 80px;
  object-fit: contain;
}
.cta_section {
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  padding: 45px 0;
}
.product_show_home {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  background-size: cover;
}
 
 

/* .partsproduct_img::after{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: #eb3237;
  opacity: 0.6;
  opacity: 0;
  transition: 0.5s all;
} */
.product_parts_box:hover .partsproduct_img::after{
  opacity: 0.6;
}
.newsletter_form .form-design .form-control {
  background-color: #fff;
}
.forms_modal .form-design .form-floating>label {
  font-size: 13px;
  color: #3d3d3d;
  font-weight: 500;
  left: 8px;
}
.form-design .form-control:focus {
  border: 1px solid #3e4093;
}
.age_verification {
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.age_verification::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.7;
}
.age_verification .container {
  z-index: 1;
  position: relative;
}
.verification_content h2 {
  color: #fff;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 18px;
}
.verification_content span {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}
.verification_content .custom_checkbox label::after {
  border: 2px solid #fff;
  height: 21px;
  width: 21px;
  border-radius: 2px;
}
.verification_content .custom_checkbox label::before { 
  top: 1px;
  left: 4px;
}
.verification_content .custom_checkbox label {
  color: #fff;
  font-weight: 500;
  font-size: 15px !important;
}
.verification_content {
  border: 2px dashed #f2f2f263;
  padding: 32px 20px;
}
.view_category {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  position: absolute;
  right: -20px;
  top: 50%;
  z-index: 99;
  background-color: #fff;
  transform: translateY(-50%);
  border-radius: 50px;
}
._banner {
  height: 230px;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  background-position: center;
  display: flex;
  align-items: center;
}
.comman_banner .container {
  z-index: 1;
}
.comman_banner h1 {
  font-weight: 700;
  color: #fff;
  margin: 0;
}
.breadcrumb li a, .breadcrumb li {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.breadcrumb-item+.breadcrumb-item::before {
  float: left;
  padding-right: 0.5rem;
  color: #fff;
  content: "\f054";
  font-family: "Font Awesome 5 Pro";
  font-size: 12px;
}
.breadcrumb-item.active {
  color: #fff;
}
.comman_banner::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.6;
}
.width_adjust {
  width: 28%;
}
.filter_design {
  border: 0;
  padding: 20px 20px;
  border-bottom: 2px solid #f2f2f2;
}
.product_single_left {
  border-right: 2px solid #f2f2f2;
}
.filter_design .accordion-button {
  padding: 8px 0;
  border: 0;
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
  color: #3d3d3d;
  box-shadow: unset;
}
.filter_design .accordion-button::after {
  content: "\f107";
  font-family: "Font Awesome 5 Pro";
  font-size: 17px;
  margin-left: auto;
  height: auto;
  background-image: unset !important;
}

.select_design {
  height: 48px;
  border: 1px solid #3e4093;
  font-size: 14px;
  box-shadow: unset;
}
.range_box input {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  pointer-events: none;
  z-index: 3;
  height: 3px;
  top: 0;
  width: 100%;
  opacity: 0;
  margin: 0;
}
.range_box .slide {
  position: absolute;
  top: 0;
  height: 4px;
  background: #ccc;
  left: 9px;
  right: 9px;
}
.range_box .line {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 4px;
  background-color: #3e4093;
}
.range_box .thumb {
  position: absolute;
  z-index: 2;
  text-align: left;
  border: 2px solid #3e4093;
  background-color: #fff;
  border-radius: 50%;
  outline: none;
  top: -7px;
  height: 20px;
  width: 20px;
  margin-left: -9px;
}
.range_box .display {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
.checkbox_design {
  margin-bottom: 12px;
}
.checkbox_design label {
  font-size: 15px !important;
  padding-left: 36px;
  position: relative;
  font-weight: 500;
}
.checkbox_design label::before {
  position: absolute;
  content: '\f00c';
  font-family: "Font Awesome 5 Pro";
  top: 1px;
  left: 4px;
  opacity: 0;
  font-size: 15px;
}
.checkbox_design label::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  border: 1px solid #3e4093;
  border-radius: 3px;
}
.checkbox_design input:checked ~ label::before {
  opacity: 1;
}
.range_box .range-slide {
  position: relative;
}
.radio_design label::after {
  border-radius: 50px;
}
.radio_design label::before {
  content: '\f111';
  font-family: "Font Awesome 5 Pro";
  font-weight: 600;
  font-size: 13px;
  top: 2px;
  left: 5px;
  color: #3e4093;
}
.width_adjust_right {
  width: 62%;
}
.fav_btn {
  background-image: url(../img/fav_icon.png);
  height: 22px;
  width: 24px;
  background-repeat: no-repeat;
  background-size: 24px;
  display: flex;
  justify-content: center;
  background-position: center;
  text-align: center;
  margin: 10px auto 0px;
  position: absolute;
  right: 0;
  top: -10px;
}
.product_content {
  position: relative;
}
.fav_btn.change_btn {
  background-image: url(../img/fav_icon_filled.png);
}

.product_show .carousel-inner {
  margin-left: 0;
  width: 100%;
}
.product_show .carousel-indicators {
  position: relative;
  margin: 0;
  display: block; 
}
.product_show .carousel-item .productimg_show {
  background-color: #eef3ff;
  height: 480px;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product_show .carousel-item img {
  max-width: 100%;
}
.product_show .carousel {
  position: relative;
  display: flex;
  width: 100%;
}
.product_show .carousel-indicators button {
  width: 90px !important;
  height: 90px;
  text-indent: 0;
  overflow: hidden;
  display: block;
  margin: 0 0 15px;
  border: 0;
  background-color: #eef3ff !important;
  opacity: 1;
}
.product_show .carousel-inner {
  margin-left: 15px;
}
.product_show .carousel-indicators button img {
  max-width: 35px;
}
.product_details_text h2 {
  font-weight: 600;
  font-size: 22px;
}
.product_details_text p {
  color: #8f8f8f;
  font-size: 16px;
  line-height: 25px;
  margin: 0;
}
.product_details_text .rating_box a {
  font-size: 16px;
}
.ratee_part span {
  font-size: 15px;
  color: #8f8f8f;
  display: block;
  margin-left: 10px;
}
.pricee_part strong {
  font-weight: 500;
  font-size: 30px;
  color: #000;
}
.pricee_part {
  display: flex;
  align-items: center;
}
.pricee_part span {
  display: inline-block;
  background-color: #f00;
  color: #fff;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 8px;
}
.product_details_btns a {
  position: relative;
  display: inline-flex;
  right: -30px;
}
.pricee_part del {
  color: #8f8f8f;
  font-size: 14px;
  font-weight: 500;
  margin: 0 14px;
}
.offers_head strong {
  font-size: 15px;
  font-weight: 500;
  display: block;
  margin-bottom: 6px;
}
.offer_icon img {
  max-width: 25px;
}
.offers_box_main p {
  font-size: 12px;
  color: #000;
  line-height: 18px;
  font-weight: 500;
}
.offers_box_main {
  border: 1.5px dashed #dbdbdb;
  margin: 0;
}
.quantity_box .number input {
  height: 44px;
  font-size: 22px;
  width: 40px;
}
.quantity_box .number span {
    height: 44px;
    width: 44px;
    font-size: 24px;
}
.flavour_box a {
  background: #f2f2f2;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: 500;
  font-size: 13px;
  color: #3d3d3d;
  margin: 0 10px 10px 0;
  transition: 0.5s all;
}
.flavour_box a:hover {
  background: #eef3ff;
}
.flavour_box a:hover.disabled {
  background: #f2f2f2;
}
.flavour_box .disabled {
  opacity: 0.5;
}

.featured-details .accordion-button {
  border: 0;
  background: transparent;
  color: #656565;
  font-weight: 500;
  font-size: 16px;
  padding: 13px 0px 14px;
  box-shadow: unset;
  border-bottom: 2px solid #f2f2f2;
}
.featured-details .accordion-item {
  border: 0;
}
.btns_collapes {
  border-radius: 3px;
  height: 22px;
  width: 22px;
  border: 1px solid;
  margin-right: 30px;
}
.btns_collapes::after {
  position: absolute;
  content: "\f068";
  font-family: "Font Awesome 5 Pro";
  top: 13%;
  left: 5px;
  font-weight: 700;
  font-size: 13px;
}
.featured-details .accordion-button.collapsed .btns_collapes::after {
  content: '\f067';
}
.featured-details .accordion-body {
  padding: 30px 50px;
}
.featured-ul li {
  width: 33%;
  margin-bottom: 4px;
}
.featured-details .accordion-body p {
  margin-bottom: 10px;
  font-size: 15px;
  color: #8f8f8f;
}
.featured-ul {
  list-style: circle;
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
}

.accordion-button::after{
  display: none;
}
.ratingbox_main_left {
  text-align: center;
  padding: 60px 0;
  border-right: 1px solid #dee2e6;
}
.ratingbox_main_left h3 {
  font-size: 48px;
  margin: 0;
}
.ratingbox_main_left h3 span {
  color: #8f8f8f;
  font-size: 20px;
  display: inline-block;
}
.all_review {
  font-size: 15px;
  font-weight: 500;
}
.ratingbox_main_left p {
  font-size: 16px;
  color: #8f8f8f;
  line-height: 20px;
  margin: 0 0 12px;
}
.rating_progress {
  padding: 60px 0;
}
.rating_progress .progress {
  display: flex;
  height: 8px;
  overflow: hidden;
  background-color: #d9d9d9;
  border-radius: 0;
}
.rating_progress .text_wtihstart {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.question_answer_box h3 {
  font-weight: 500;
  font-size: 15px;
  margin: 0;
}
.question_answer_box p {
  margin: 0;
  font-size: 15px;
  color: #8f8f8f;
  line-height: 25px;
}
.question_answer_box .que_tag {
  display: block;
  font-size: 15px;
  font-weight: 600;
}
.rating_progress .text_wtihstart i {
  color: #ffd000;
  font-size: 15px;
  margin-left: 6px;
}
.commam_tabs_design .nav-item {
  width: 50%;
  text-align: center;
}
.commam_tabs_design .nav-item .nav-link {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  border: 0;
  font-size: 18px;
  font-weight: 500;
  padding: 16px 0;
  background-color: #3e4093;
  border-radius: 0;
  color: #fff;
  opacity: 0.7;
}
.commam_tabs_design .nav-item .nav-link.active{
  opacity: 1;
}

.related_product .owl-nav button {
  background-color: #eb3237 !important;
  color: #fff !important;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  font-size: 30px !important;
  margin-left: -60px;
  margin-right: -60px;
}
.related_product .owl-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  left: 0;
  right: 0;
}
.cart_table tr th {
  border: 0;
  font-weight: 500;
  text-align: center;
  color: #8f8f8f;
  font-size: 16px;
  padding: 14px 20px;
  text-transform: uppercase;
  vertical-align: middle;
}
.cart_table tr td:first-child {
  width: 800px;
}
.cart_product img {
  max-width: 110px;
}
.cart_product {
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  border-radius: 8px;
}
.cart_content h3 {
  font-weight: 600;
  font-size: 18px;
}
.cart_content p {
  color: #8f8f8f;
  font-size: 14px;
  margin: 0;
}
.rate_main span {
  display: block;
  font-size: 14px;
  color: #8f8f8f;
  margin-left: 10px;
}
.remove_btn {
  color: #f00;
  font-weight: 600;
  font-size: 14px;
  display: block;
}
.cart_table .number span {
  height: 40px;
  width: 40px;
  font-size: 25px;
}
.cart_table .number input {
  font-size: 22px;
  height: 40px;
}
.pricetext {
  font-weight: 600;
  font-size: 18px;
  display: block;
}
.pricetext {
  font-weight: 600;
  font-size: 18px;
  display: block;
}
.cart_table tr th:first-child, .cart_table tr td:first-child {
  text-align: left;
}
.cart_table tr td {
  padding: 24px 20px;
  vertical-align: middle;
  text-align: center;
  border: 0;
}
.table>:not(:first-child) {
  border-top: 0;
}
.cart_product img {
  height: 110px;
}

.custom_radio label {
  display: block;
  position: relative;
  padding-left: 40px;
}
.custom_radio input:checked ~ label::before {
  opacity: 1;
}
.custom_radio label::before {
  position: absolute;
  content: '';
  top: 19px;
  left: 3px;
  height: 14px;
  width: 14px;
  background-color: #234476;
  border-radius: 50px;
  opacity: 0;
}
.custom_radio input:checked ~ label .btn_show {
  display: block;
}
.btn_show {
  display: none;
  position: absolute;
  right: 0;
}
.address_data h3 {
  font-size: 18px;
  font-weight: 700;
}
.address_data p {
  margin: 0;
  font-size: 15px;
  color: #8f8f8f;
  line-height: 23px;
}
.custom_radio label::after {
  position: absolute;
  content: '';
  top: 16px;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #d7d7d7;
  border-radius: 50px;
}
.chosse_location .custom_radio label::after {
  top: 1px;
}
.chosse_location .custom_radio label::before {
  top: 4px;
}
.chosse_location h3 {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 20px;
}
.Payment_form .form-group .custom_radio label {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
}
.form_design .form-select, .form_design .form-control {
  height: 50px;
  border: 1px solid;
  padding: 0 22px;
  font-size: 14px;
  font-weight: 500;
  box-shadow: unset !important;
}
.card_img {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  max-width: 34px;
}
.Payment_form .form-group label::after {
  top: 4px;
}
.Payment_form .form-group label::before {
  top: 7px;
}
.Payment_form .form-group .promo_code label {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  color: #000;
}
.cardname_input {
  width: 20%;
}
.addcard_img img {
  max-width: 100%;
}
.add_cardform .form-group label {
  margin: 0px;
  text-transform: capitalize;
  color: #000;
  font-weight: 500;
  font-size: 14px;
}
.account_profile .profile-pic {
  max-height: 100%;
}
.account_profile .circle {
  overflow: hidden;
  width: 130px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.account_profile .p-image {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ffffff;
  color: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.account_profile .file-upload {
  display: none;
}
.account_profile .p-image img {
  max-width: 75%;
}
.account_detailss h2 {
  font-weight: 700;
  font-size: 20px;
  color: #000;
}
.account_detailss span {
  color: #8f8f8f;
  font-size: 16px;
  display: block;
}
.myaccount_tabs .nav-tabs {
  border: 0;
}
.myaccount_tabs .nav-tabs .nav-link {
  width: 100%;
  border: 0;
  text-align: left;
  background-color: #eb3237;
  border-radius: 0;
  padding: 18px 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  border-bottom: 1px solid #f1f1f1b5 !important;
  isolation: unset;
  display: flex;
  font-size: 14px;
  margin: 0;
  align-items: center;
}
.myaccount_tabs .nav-tabs .nav-link i {
  font-size: 20px;
  font-weight: 300;
  width: 30px;
}
.myaccount_tabs .nav-tabs .nav-link.active{
  background-color: #234476;
}
.filter_table img {
  max-width: 24px;
  margin-top: -4px;
}
.filter_table {
  display: inline-block;
  padding-left: 8px;
}
.cart_product {
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  border-radius: 8px;
}
.cart_product img {
  max-width: 110px;
}
.cart_content h3 {
  font-weight: 600;
  font-size: 18px;
}
.cart_content p {
  color: #8f8f8f;
  font-size: 14px;
  margin: 0 0 18px;
}
.cart_table tr td {
  padding: 24px 20px;
  vertical-align: middle;
  text-align: center;
  border: 0;
}
.cart_content .ordertext {
  font-size: 14px;
  color: #8f8f8f;
  font-size: 14px;
}
.myaccount .cart_table tr td {
  padding: 15px 20px;
}
.toggle-password {
  position: absolute;
  right: 26px;
  top: 28px;
  font-size: 14px;
}
.myfavourites .partsproduct_img img {
  max-width: 100%;
  height: 110px;
  object-fit: contain;
}
.myfavourites .partsproduct_img { 
  height: 150px;
  position: relative;
}
.myfavourites .product_content a { 
  font-size: 14px;
}
.myfavourites .fav_btn {
  position: unset;
}
.myfavourites .product_parts_box {
  padding: 10px 10px 15px;
}
.main_menudata .accordion-button {
  background-color: #eb3237;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
}
.main_menudata .accordion-body {
  font-size: 15px;
  font-weight: 400;
}
.main_menudata .accordion-item {
  border-radius: 10px;
  overflow: hidden;
}
.main_menudata .accordion-button {
  border-radius: 10px !important;
  background-color: #eb3237;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
}
.main_menudata .accordion-button::after {
  display: block;
  filter: brightness(40.5);
}
.product_single_left .accordion-button::after{
  display: block;
}
.order_tabs .nav-item .nav-link {
  border: 0;
  border-radius: 0;
  padding: 12px 30px;
  color: #234476;
  font-size: 14px;
  background-color: #f2f2f2;
  border-right: 1px solid #f2f2f242;
  width: 100%;
  font-weight: 500;
}
.order_tabs .nav-item {
  width: 50%;
}
.order_tabs .nav-item .nav-link.active {
  background-color: #234476;
  color: #fff;
}
.data_main {
  font-weight: 500;
  font-size: 14px;
}
.data_submain {
  font-weight: 600;
  font-size: 14px;
}
.small_header {
  position: absolute;
  top: -10px;
  font-weight: 700;
  font-size: 14px;
  background-color: #fff;
  display: inline-block !important;
  width: auto;
  text-transform: uppercase;
}
.track_circle {
  height: 14px;
  width: 14px;
  background-color: #234476;
  display: flex;
  border-radius: 50px;
  justify-content: center;
  margin: 0 auto 10px;
  position: relative;
  z-index: 4;
}
.track_order li {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  padding: 0 30px;
  position: relative;
  z-index: 1;
}
.track_order {
  display: flex;
  justify-content: center;
  position: relative;
}
.track_order li::after {
  position: absolute;
  content: '';
  height: 4px;
  width: 150px;
  background-color: #f2f2f2;
  left: 69px;
  top: 4px;
  z-index: 0;
}
.track_order li::before {
  position: absolute;
  content: '';
  height: 4px;
  width: 160px;
  background-color: #3e4093;
  left: 69px;
  top: 4px;
  z-index: 1;
  opacity: 0;
}
.track_order li.active::before{
  opacity: 1;
}
.track_order li:last-child:after, .track_order li:last-child:before {
  background-color: #fff;
  width: 50px;
}
.contact_us .form-design textarea.form-control {
  height: 200px;
  resize: none;
}
.header_bottom li .dropdown-menu {
  background: #fff;
  backdrop-filter: blur(15px) saturate(0.5);
  transition: visibility 0.1s, margin-top 0.1s, transform 0.1s, opacity 0.1s linear, -webkit-transform 0.1s;
  transform: scale(0.9);
  transform-origin: top;
  display: block;
  height: 0px;
  border-radius: 0;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 153px;
  min-width: 100% !important;
  max-width: 100%;
  overflow: hidden;
}
.header_bottom li:hover .dropdown-menu {
  display: block;
  visibility: visible;
  opacity: 1;
  transition: visibility 0.5s, transform 0.5s, opacity 0.3s linear, -webkit-transform 0.5s;
  border: 0;
  background-color: #fff;
  height: auto;
  transform: scale(1);
}
.maga_drop__menus .dropdown_heading {
  color: #202325;
  font-size: 20px;
  display: block;
  margin-bottom: 14px;
  font-weight: 600;
  border-left: 4px solid #3e4093;
  padding: 3px 0 3px 12px;
}
.maga_drop__menus ul {
  padding: 0 0 0 36px;
  list-style: circle;
}
.maga_drop__menus ul li a {
  color: #000;
  font-size: 14px;
  display: block;
  transition: 0.5s all;
}
.maga_drop__menus {
  padding: 10px 10px 10px;
}
.maga_drop__menus ul li {
  margin: 0;
  color: #000;
  margin-bottom: 4px;
  list-style: circle;
}
.header_bottom .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.header_bottom .dropdown-toggle::before {
  position: absolute;
  content: '';
  bottom: -20px;
  height: 59px;
  width: 100%;
  background-color: transparent;
  display: flex;
  left: 0;
  right: 0;
  z-index: 0;
}
.header_main.header-fixed .header_top {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  box-shadow: 0 0 20px #00000038;
  transition: 0.5s all;
}
.brands_ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0 !important;
}
.brands_ul li {
  width: 25%;
}
.brands_ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  border-right: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}
.brands_ul li a img {
  height: 100px;
  object-fit: contain;
  transition: 0.5s all;
  filter: grayscale(1);
}
.brands_ul li a:hover img {
  filter: unset;
  transform: scale(1.1);
}
.brands_ul li:nth-child(0n+4) a {   
  border-right: 0;
}
.Checkout_address span {
  display: inline-flex;
  position: absolute;
  top: -11px;
  background-color: #fff;
  width: auto;
  font-size: 14px;
  font-weight: 600;
}
.Checkout_address {
  border: 2px solid #234476;
  position: relative;
  padding: 20px 10px 15px;
}
.Checkout_address h2 {
  font-weight: 700;
  font-size: 24px;
  margin: 0 0 5px;
}
.Checkout_address p {
  font-weight: 500;
  font-size: 15px;
}
.thankyou {
  height: calc(100vh - 153px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}
.thankyou_content {
  border: 2px dashed #f2f2f263;
  padding: 32px 20px;
  position: relative;
  z-index: 1;
  text-align: center;
  color: #fff;
} 
.thankyou_content h1 {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 15px;
}
.thankyou_content p {
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 23px;
}
.thankyou::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.7;
}
.order_heading h2 {
  font-size: 19px;
  font-weight: 700;
}
.my_orderbox {
  border: 3px solid #f2f2f2;
  width: 100%;
  background: #f2f2f2;
  border-radius: 10px;
  padding: 10px 20px;
  color: #3d3d3d !important;
}
.status_order {
  position: absolute;
  right: 3px;
  background-color: #fff;
  font-size: 13px;
  font-weight: 500;
  padding: 4px 10px;
  top: 3px;
  border-radius: 7px;
}
.order_id {
  font-weight: 500;
  font-size: 14px;
}
.date_box {
  font-weight: 600;
  font-size: 14px;
}
.items_box {
  background-color: #fff;
  margin-top: 16px;
  padding: 12px 14px;
  border-radius: 5px;
}
.items_box h2 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.items_box ul li {
  font-size: 14px;
  font-weight: 500;
  list-style: circle;
  padding-left: 0;
}
.items_box ul {
  padding-left: 20px;
}
.detail_product_img {
  height: 152px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  border-radius: 8px;
}
.detail_product_img img {
  height: 115px;
}
.detail_product {
  border: 2px solid #f2f2f2;
  border-radius: 8px;
  padding: 12px 0px;
}
.detail_text {
  font-size: 14px;
  margin: 10px 0;
}
.detail_text strong{
  font-weight: 600;
}